<!DOCTYPE html>
<html>

<head>
    <title>Edit Word</title>
</head>

<body>
    <h1>Edit Word</h1>
    <form method="post">
        {% csrf_token %}
        <label for="word"> Word:</label>
        <input type="text" name="word" value="{{word.word}}" required><br>
        <label for="translation"> Translation:</label>
        <input type="text" , name="translation" value='{{word.translation}}' required><br>
        <input type="submit" value="Save">

    </form>

    {% if words_to_edit %}
    <a href="{% url 'edit_word' word.id %}">Edit</a>
    {% endif %}


</body>




</html>