.shorter-table {
    max-height: 100px;

    overflow-y: scroll;

}

h3 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: rgb(240, 224, 9);
}

@media (max-width: 768px) {
    body {
        background-size: contain;
    }
}